##node

#sublime
*.sublime*
.ropeproject

#Django
*.pyc
*.db
*.sqlite*
celerybeat-schedule
celerybeat.pid

.project
.pydevproject
.settings


AMAO/media
gabarito

#safeexec
AMAO/safeexec/safeexec
AMAO/safeexec/os-detect
AMAO/safeexec/*.o
build