{% extends "util/skeleton.html"%}

{% block 'jquery-winload' %}
	{{ block.super }}
{% endblock %}

{% block 'css-extras' %}
	{{ block.super }}
		<link rel="stylesheet" media="all" type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/smoothness/jquery-ui.css" />

{% endblock %}


{% block body %}
	{% include "util/top-bar.html" %}
    <div id="containner">
	<!--<header>
		{% include "util/header.html" %}
	</header>-->
	<div id="content">
        {% block 'body-content' %}
			<hgroup id="header">
		        {% block 'body-hgroup' %}

				{% endblock %}
			</hgroup>
			<div id="superior">
		        {% block 'body-superior' %}

				{% endblock %}
			</div>
			
			<div id="body-centered" >
				{% block 'body-centered' %}
				
				{% endblock %}
			</div>
			
			<aside>
		        {% block 'body-aside' %}

				{% endblock %}
			</aside>
			
			<section>
		        {% block 'body-section' %}
				
				{% endblock %}
			</section>
		{% endblock %}
		<br class="clear"/>
	</div>
	
    </div>
<footer class="clear background">
	{% include "util/footer.html" %}
</footer>
{% endblock %}

{% block 'js-imports' %}
	<script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.min.js"></script>
    <script src="/static/js/jsControleFormsetDinamico.js" ></script>
    <script src="/static/js/jsInterface.js" ></script>
{% endblock %}

