<div id="top_bar">
	<div id='menu'>
        <a href="{% url dashboard %}"><h1>AMAO</h1></a>
        <nav>
		    {% if not request.user.is_authenticated %}
                <div id="containner_login">
			        <a id="login" href="{% url login %}">Login</a>
                </div>
		    {% else %}

		    		{% if aluno or monitor %}
						<a href="{% url listar_avaliacoes %}">Avaliações</a>
		    		{% endif %}
		    		{% if professor or monitor %}
                        <a href="{% url listar_questoes %}">Banco de Questões</a>
			    		<a href="{% url professor_consultar %}">Consultar Notas</a>
						<a href="{% url criar_conteudos %}">Criar Conteúdo</a>
		    		{% endif %}

				<a href="{% url perfil %}">Perfil</a>

                <div id="containner_login">
                    <a id="user" href="{% url dashboard %}">{{ request.user.email }}</a>
			        <a id="login" href="{% url logout %}">Sair</a>
                </div>
		    {% endif %}
	    </nav>

    </div>
</div>
