{% extends "util/base.html"%}

{% block 'body-hgroup' %}
	<h1><span>Banco de Questões</span></h1>
{% endblock %}


{% block 'body-centered' %}
	<div id="body-full">

        <div class="area_div zona_dados">
            <h3>Filtros</h3>
            <form action="{% url listar_questoes %}" method="get">
                {{ filter_form.as_p}}
                <span>Mantenha pressionado "Control" (ou "Command" no Mac) para selecionar mais de um Tipo de Questão.</span>
                </br>
                <input type="submit" value="Filtrar" />
            </form>
        </div>

        <div class="area_div zona_dados area_lista_questoes">
			<h3>Questões</h3>
            <div id="listagem_resultado">
                {% for questao in questoes %}
                    <h2><span class="ui-icon {% if questao.verificada %}ui-icon-circle-check{% else %}ui-icon-circle-close{% endif %}"></span>{{questao.titulo}}</h2>
                    <div class="listagem-inline">
                        <ul>
                            <li>
                                <label>Título:</label>
                                <span>{{questao.titulo}}</span>
                            </li>
                            <li>
                                <label>Tipos:</label>
                                <span>
                                    {% for tipoQ in questao.tipo.all %}
                                        {{tipoQ.tipo}},
                                    {% endfor %}
                                </span>
                            </li>
                            <li>
                                <label>Autor:</label>
                                <span>{{questao.autor.email|default_if_none:"Nenhum"|default:"Nenhum" }}</span>
                            </li>
                            <li>
                                <label>Verificada:</label>
                                <span>{% if questao.verificada %}Sim{% else %}Não{% endif %}</span>
                            </li>
                        </ul>


                        <a href="{% url editar_questao questao.pk %}">Editar</a>
                    </div>
                {% endfor %}
            </div>
        </div>

	</div>
{% endblock %}
{% block 'js-onpage' %}
    {{ block.super }}

    $('#listagem_resultado').accordion({
        icons: null,
      collapsible: true
    });

{% endblock %}
