{% extends "util/base.html"%}

{% block 'body-hgroup' %}
	<h1><span>Banco de Questões</span></h1>
{% endblock %}


{% block 'body-centered' %}
	<div id="body-full">

        <div class="area_div zona_dados">
            <h3>Filtros</h3>
            <form action="{% url listar_questoes %}" method="get">
                {{ filter_form.as_ul}}

                <input type="submit" value="Filtrar" />
            </form>
        </div>

        <div class="area_div zona_dados area_lista_questoes">
			<h3>Questões</h3>

            <div class="line"><label>Título </label><label>Tipos </label><label>Autor</label><label>Valida</label></div>
            <div id="entradas" class='agrup'>

                {% for questao in questoes %}
                    <div class="line" >
                         <label><span><a href="{% url editar_questao questao.pk %}">{{questao.titulo}}</a></span></label>
                        <label><span>
                            {% for tipoQ in questao.tipo.all %}
                                {{tipoQ.tipo}},
                            {% endfor %}
                        </span></label>
                        <label><span>{{questao.autor.email|default_if_none:"Nenhum"|default:"Nenhum" }}</span></label>
                        <label><span>{% if questao.verificada %}Sim{% else %}Não{% endif %}</span></label>
                    </div>
                {% endfor %}
            </div>
        </div>

	</div>
{% endblock %}
