{
    "SECRET_KEY": "minha_chave_ultra_secreta",
    "DATABASE_NAME": "meu_db",
    "DATABASE_USER": "meu_login",
    "DATABASE_PASSWORD": "super_mega_senha",
    "DATABASE_HOST": "",
    "DATABASE_PORT": "",
    "CURRENT_ENV": "prod"
}