{% extends "usuarios/perfil/perfil.html"%}


{% block 'zona-dados' %}
	    <form action="{% url password_change %}" method="post" >
		    {% csrf_token %}

		    <h3>Trocar senha</h3>
            <div class="area_div">
			    <label for="id_old_password">Senha antiga:</label>
			    <input type="password" name="old_password" id="id_old_password" />
			    {{ form.old_password.errors }}
		    </div>
            <div class="area_div">
			    <label for="id_new_password1">Nova senha:</label>
			    <input type="password" name="new_password1" id="id_new_password1" />
			    {{ form.new_password1.errors }}
		    </div>
            <div class="area_div">
			    <label for="id_new_password2">Confirmação da nova senha:</label>
			    <input type="password" name="new_password2" id="id_new_password2" />
			    {{ form.new_password2.errors }}
            </div>
		    <input type="submit" value="Mudar Senha" />
	    </form>
{% endblock %}


